################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# https://www.visualstudio.com/en-us/docs/git/tutorial/ignore-files
################################################################################

# ignore an entire directory
/*/*/bin/
/*/*/obj/

# ignore a file type
*.bak
*.Debug.config
*.Release.config